.share {
    width: 95%;
    height: 170px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
}

.sharedWrapper {
    padding: 10px;
}

.shareTop {
    display: flex;
    align-items: center;
    padding: 10px;
}

.sharedInput {
    border: none;
    width: 90%;
}

.sharedInput:focus {
    outline: none;
}

.sharedProfileImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.shareBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.sharedOptions {
    display: flex;
    margin-left: 20px;
}

.shareOptionItem{
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
}

.shareIcon {
    font-size: 18px;
    margin-right: 4px;
}

.shareOptionText {
    font-size: 14px;
    font-weight: 500;
}

.shareBottomlittle {
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: rgb(72, 200, 72);
    font-weight: 500;
    cursor: pointer;
    color: white;
}